footer {
  align-items: center;
  background-color: rgb(220, 53, 69);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: auto;
  padding: 0.4rem 0.7rem;
  position: fixed;
  width: 100%;
}

.recipe-type {
  border: 1px solid black;
  border-radius: 10%;
  filter: invert(98%)
    sepia(72%) saturate(0%) hue-rotate(106deg) brightness(105%) contrast(100%);
  padding: 3px;
  width: 35px;
}
