.navbar {
  align-items: center;
  background-color: rgb(220, 53, 69);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-img {
  filter: invert(98%)
    sepia(72%) saturate(0%) hue-rotate(106deg) brightness(105%) contrast(100%);
}

header {
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

.search-button {
  background: none;
  border: none;
  filter: invert(98%)
    sepia(72%) saturate(0%) hue-rotate(106deg) brightness(105%) contrast(100%);
}

.search-bar {
  background-color: rgb(239 237 237);
  margin-top: 0;
}

.search-bar-form {
  margin-top: 0;
  padding: 10px;
}

.filters-div {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 5px 0;
  width: 100%;
}

.filters-radio {
  margin-right: 3px;
}

.page-title {
  color: white;
  margin: 0;
  text-align: center;
}

.search-bar-button {
  margin: 4px auto 0;
  width: 25%;
}
