.login {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
}

.login-title-container {
  display: flex;
  flex-direction: column;
}

.login-title {
  line-height: 0.8;
}

.crown {
  align-self: start;
  transform: rotate(350deg);
  width: 30px;
}

label {
  margin-bottom: 0;
}

.form-signin {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  max-width: 330px;
  padding: 15px;
  width: 100%;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  box-sizing: border-box;
  font-size: 16px;
  height: auto;
  padding: 10px;
  position: relative;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .email-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}

.form-signin .password-input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 5px;
}

.form-button {
  margin: auto;
  width: 40%;
}

