.div {
  background: url('../images/e9d7c47c4a23314ecdb74bba026e0124.jpg');
  border: 1px solid;
  height: 100vh;
  padding: 5%;
  text-align: center;
  width: 100vw;
}

.navigation {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 50%;
}

button {
  width: 50%;
}

.profile-email {
  color: rgb(255, 255, 255);
  font-size: 6vw;
  font-weight:bold;
}
