.recipes {
  padding: 60px 5px;
}

.categorys {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  height: 120px;
  justify-content: center;
  margin: auto;
  max-width: 500px;
  padding: 10px;
}

.category-button {
  flex-basis: 35%;
  max-height: 31px;
  max-width: 168px;
}

.recipes-cards-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.recipe-card {
  align-items: center;
  background-color: rgb(220, 53, 69);
  border: none;
  border-radius: 2%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  width: 16rem;
}

.recipe-title {
  text-align: center;
}

.recipe-photo {
  margin-top: 3px;
  max-width: 250px;
}
