.in-progress-recipe-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 15px 60px;
}

.in-progress-recipe-card {
  align-items: center;
  background-color: rgb(220, 53, 69);
  border: none;
  border-radius: 2%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 500px;
  padding-bottom: 10px;
}

.in-progress-recipe-photo {
  border: 1px solid #dc354591;
}

.in-progress-recipe-title {
  font-size: 2rem;
}

.in-progress-like-btn, .in-progress-share-btn {
  background-color: white;
  border-radius: 5%;
  margin-left: 4px;
}

.checkbox {
  margin-right: 8px;
}

.checkbox:before {
  background-color: rgb(220, 53, 69);
  content: '';
  display: block;
  height: 20px;
  margin-top: -6px;
  width: 20px;
}

.checkbox:checked:before {
  background-color: rgb(220, 53, 69);
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  width: 20px;
}

.checkbox:checked:after {
  border: solid white;
  border-width: 0 4px 4px 0;
  content: '';
  display: block;
  height: 16px;
  margin-left: 5px;
  margin-top: -6px;
  transform: rotate(45deg);
  width: 10px;
}

.finish-recipe-btn {
  bottom: 0;
  margin: 10px 0;
  position: fixed;
  z-index: 2;
}
