.recipes {
  padding: 50px 5px 0;
}

.categorys {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  height: 120px;
  justify-content: center;
  margin: auto;
  max-width: 500px;
  padding: 10px;
}

.category-button {
  flex-basis: 35%;
  max-height: 31px;
  max-width: 168px;
}

.recipes-cards-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.recipe-card {
  align-items: center;
  background-color: rgb(239 237 237);
  border: 1px solid #dc354591;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

.recipe-title {
  text-align: center;

}
